



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />



    <title>List</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <ul class="list-group">
            <li class="list-group">
                <a href="@Url.Action("List", "UrunFiyat")" class="list-group-item list-group-item-success">UrunFiyat</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Urun")" class="list-group-item list-group-item-success">Urunler</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "UrunDetay")" class="list-group-item list-group-item-success">UrunDetay</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "UrunOzellikler")" class="list-group-item list-group-item-success">UrunOzellikler</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Kampanya")" class="list-group-item list-group-item-success">Kampanya</a>
            </li>
           
            <li class="list-group">
                <a href="@Url.Action("List", "Banka")" class="list-group-item list-group-item-success">Banka</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Kargo")" class="list-group-item list-group-item-success">Kargo</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Kategori")" class="list-group-item list-group-item-success">Katagori</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Marka")" class="list-group-item list-group-item-success">Markalar</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "OdemeSecenekleri")" class="list-group-item list-group-item-success">Odeme Secenekleri</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "OzellikDetay")" class="list-group-item list-group-item-success">Ozellik Detay</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Resimler")" class="list-group-item list-group-item-success">Resimler</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Rol")" class="list-group-item list-group-item-success">Roller</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Sepet")" class="list-group-item list-group-item-success">Sepet</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "SiparisDurumu")" class="list-group-item list-group-item-success">Siparis Durumu</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Siparisler",new {ids= "Siparisler" })" class="list-group-item list-group-item-success">Siparisler</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "Taksitler")" class="list-group-item list-group-item-success">Taksitler</a>
            </li>
            <li class="list-group">
                <a href="@Url.Action("List", "TaksitTaplosu")" class="list-group-item list-group-item-success">Taksit Taplosu</a>
            </li>

        </ul>

    }
</body>
</html>
