@model Eticarett.ViewModels.Detay
<!DOCTYPE html>
<html lang="en">
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Kategori</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--category-productsr-->
                       
                            @foreach (var kategori in Model.Kategori)
                            {

                                <div class="panel panel-default">
                                    <div class="panel-heading">

                                        <h4 class="panel-title"><a href="@Url.Action("List",new { id = kategori.Id, markamı=false} )">@kategori.KategoriAdi</a></h4>
                                    </div>
                                </div>
                            }
                        </div><!--/category-products-->

                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>Markalar</h2>

                            @foreach (var Marka in Model.Marka)
                            {

                                <div class="brands-name">

                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="@Url.Action("List",new { id = Marka.Id, markamı=true})"> <span class="pull-right">(count)</span><img src="@Marka.imagePath" alt="" />@Marka.MarkaAdi </a></li>


                                    </ul>
                                </div>
                            }
                        </div><!--/brands_products-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="images/product-details/1.jpg" alt="" />
                                <h3>ZOOM</h3>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">

                                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>

                                    </div>
                                    <div class="item">
                                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">
                                <!--/product-information-->
                                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>@Model.detay.UrunDetaylari.model_cins</h2>

                                <span>
                                    <span>@Model.Fiyat</span>
                                    <label>Miktar:</label>
                                    <input type="text" value="1" />
                                    <button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Sepete Ekle
                                    </button>
                                </span>
                                @if (Model.detay.UrunDetaylari.stokSayisi > 0)
                                {
                                    <p><b>STOK:</b> Var</p>
                                }
                                else
                                {
                                    <p><b>STOK:</b> Yok</p>
                                }
                                <p><b>Condition:</b> New</p>
                                <p><b>Marka:</b>@Model.detay.UrunDetaylari.Urunler.Markalar.MarkaAdi</p>

                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->



                </div>
            </div>
        </div>
    </section>


</body>
</html>