<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> E-Ticaret</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Styles/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/Styles/price-range.css" rel="stylesheet">
    <link href="~/Content/Styles/animate.css" rel="stylesheet">
    <link href="~/Content/Styles/main.css" rel="stylesheet">
    <link href="~/Content/Styles/responsive.css" rel="stylesheet">
</head><!--/head-->
<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 000 00 00</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="https://facebook.com/onur.kulakoglu.5" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/onurkulakolu" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="https://plus.google.com/106247056817552840468/posts?pli=1"target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("Index","Home")"><img src="~/images/home/Logo.png" alt="" /></a>
                        </div>


                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                @if (User.Identity.IsAuthenticated)
                                {
                                <li><a href="@Url.Action("Account", "Account")"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>

                                <li><a href="@Url.Action("Logout", "Login")"> <i class="glyphicon glyphicon-screenshot"></i> Çıkış</a></li>
                                }
                                <li role="presentation"><a href="@Url.Action("ShoppingCard", "Home")"> Sepet<i class="glyphicon glyphicon-shopping-cart"></i> @Session["Count"]</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                <li><a href="@Url.Action("Login", "Login", new { })"> <i class="glyphicon glyphicon-lock"></i>Giriş </a></li>
                                }
                                @if (User.IsInRole("admin"))
                                {
                                <li><a href="@Url.Action("List", "Homes", new { area = "admin" })"> <i class="fa fa-lock"></i> Admin</a> </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="index.html" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="contact-us.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                           <span class="glyphicon glyphicon-search"></span> <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header>
   
            @RenderBody()
     

        <footer id="footer">
            <!--Footer-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="companyinfo">
                                <h2><span>e</span>-Tİcaret</h2>
                                <p>---------</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="address">
                                <img src="images/home/map.png" alt="" />
                                <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Service</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Online Help</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Change Location</a></li>
                                    <li><a href="#">FAQ’s</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">@System.DateTime.Now.Year</p>

                    </div>
                </div>
            </div>

        </footer><!--/Footer-->

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script src="~/Content/Scripts/jquery.js"></script>
        <script src="~/Content/Scripts/bootstrap.min.js"></script>
        <script src="~/Content/Scripts/jquery.scrollUp.min.js"></script>
        <script src="~/Content/Scripts/price-range.js"></script>
        <script src="~/Content/Scripts/jquery.prettyPhoto.js"></script>
        <script src="~/Content/Scripts/main.js"></script>
       
</body>
</html>
